@keyframes gradientBackground{
0%{
    background-position: 0% 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0%;
}
}
@keyframes minhaAnimacao {
  from {right: -200px;}
  to {right: 0px;}
}
@keyframes animacaoTexto {
  from {right: 200px;}
  to {right: 0px;}
}