:root{
    --off-white: #f8f5f2;
    --cinza-escuro: #333333;
    --marrom: #5c3d2e;
    --branco: #ffffff;
    --bege: #ffd699;
    --amarelo-claro: #f0e6dd;
    --marrom-claro: #8b5b3c;
    --preto-suave: #1a1a1a;
    --sombra: rgba(0, 0, 0, 0.2);
}
